<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!-- Sezione Connessione DB Sql Server -->
  <connectionStrings>
    <add name="sqlServerLocal" connectionString="Data Source=localhost; Initial Catalog=UnivaqSmartReminder; Integrated Security=true; MultipleActiveResultSets=true"/>
  </connectionStrings>

  <!-- Sezione validazione -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <!-- Sezione autenticazione -->
    <authentication mode="Forms">
      <forms name=".USERAUTH" loginUrl="Login.aspx" protection="All" path="/"></forms>
    </authentication>

    <!-- Sezione autorizzazione -->
    <authorization>
      <allow users="*"></allow>
    </authorization >
  </system.web>

  <!-- Specifica cartella protetta e negazione accesso a utenti non loggati -->
  <location path="Pages_OnlyLoggedUser">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!-- Sezione web service ora -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetCurrentTimeSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GetCurrentTimeSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://webservice.theknot.com/Time/GetTime.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetCurrentTimeSoap"
        contract="TimeService.GetCurrentTimeSoap" name="GetCurrentTimeSoap" />
      <endpoint address="http://webservice.theknot.com/Time/GetTime.asmx"
        binding="customBinding" bindingConfiguration="GetCurrentTimeSoap12"
        contract="TimeService.GetCurrentTimeSoap" name="GetCurrentTimeSoap12" />
    </client>
  </system.serviceModel>

</configuration>
